<header>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</header>
<div id="fondo"></div>
<div id="wrapper">
  <!-- ------------------------------------------- -->
  <nav class="menu">
    <div class="cuadrado">
      <div class="circulo">
        <header class="avatar">
          <img src="" />
        </header>
      </div>
      <h2>Señor Negro</h2>
    </div>
    <ul>
      <li [routerLink]="['/perfil']">
        <span>Editar perfil</span>
      </li>
      <li [routerLink]="['/solicitudes']"><span>Solicitudes </span></li>
      <li
        [routerLink]="['/misLibros']"
        style="  background-color: rgba(32, 175, 175, 0.658);"
      >
        <span>Mis libros</span>
      </li>
      <li [routerLink]="['/favoritos']">
        <span>Favoritos</span>
      </li>
    </ul>
    <div class="lib">
      <div
        id="libro"
        type="button"
        data-toggle="modal"
        data-target="#staticBackdrop"
      >
        <span class="subirlibro"></span>
      </div>
    </div>
  </nav>
  <div class="celementos">
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
  </div>
  <!-- ------------------------------------------- -->
