// --------------------------------------------------------------------------------       Menu
#wrapper {
  display: flex;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(0%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(230, 230, 230, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=1 );
}
.menu {
  height: 100vh;
  width: 20vw;
  background: #f2f2f200;
  top: 0px;
}

.cuadrado {
  background: #f2f2f210;
  height: 330px;
  padding-top: 30px;
}
.circulo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #f2f2f2;
  margin: 0 auto;
  padding-top: 7px;
}

.avatar {
  height: 185px;
  width: 185px;
  border: 3px solid #0e99ac;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 30px;
}
ul {
  margin-top: 30px;
  padding: 0px;
}
li {
  display: block;
  height: 80px;
  cursor: pointer;
  text-align: center;
  padding-top: 23px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 22px;
  transition: 1s;
  color: black;
}

li:hover {
  background-color: rgba(32, 175, 175, 0.658);
  transition: 0.5s;
  color: white;
}
.lib {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  transition: 2s;
  cursor: pointer;
  margin-top: 60px;
}
.lib:hover {
  transform: rotate(360deg);
  transition: 1s;
}
#libro {
  background: #0e99ac;
  height: 100px;
  position: relative;
  width: 20px;
  margin: 0 auto;
  transition: 1s;
}
#libro:after {
  background: #0e99ac;
  text-align: center;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
  transition: 1s;
}
.lib:hover #libro:after {
  background-color: #a70eac;
  transition: 1s;
}
.lib:hover #libro {
  background-color: #a70eac;
  transition: 1s;
}

// --------------------------------------------------------------------------------

// -------------------------------------------------------------------------------------------------------------
.misLibros {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  margin: 0 auto;

}
.libro {
  height: 600px;
  padding: 20px;
  color: rgb(8, 8, 8);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;

}
.contenedor{
  width: 266px;
  margin: 0 auto;
  border-radius: 5px;

}

.foto {
  margin: 0 auto;
  width: 260px;
  height: 360px;
  background-color: rgb(179, 172, 172);
  margin-bottom: 20px;
  border-radius: 5px;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.botonVerde {
  height: 30px;
  width: 260px;
  cursor: pointer;
  background-color: mediumturquoise;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 2px;
  color: white;
  font-size: 18px;
}
.botonRojo {
  height: 30px;
  width: 260px;
  cursor: pointer;
  background-color: rgba(241, 31, 31, 0.897) !important;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 2px;
  color: white;
  font-size: 18px;
}
