#botSubirLibro {
  height: 50px;
  width: 200px;
  background-color: #0e99ac;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  // padding-top: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
#botSubirLibro:hover {
  background-color: #a70eac;
  transition: 0.5s;
}

* {
  font-family: "Baloo Paaji 2", cursive;
}

// -------------------------------------------------------------------------------------------------------------
.imagen {
  height: 240px;
  width: 80%;
  background-image: url(../../../../logo.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  opacity: 0.2;
  margin: 2%;
}

input {
  border: none;
  border-radius: 5px;
  text-align: center;
  border: 0.5px solid rgba(54, 235, 210, 0.233);
}

textarea {
  width: 95%;
  height: 200px;
  margin: 2%;
  border: 0.5px solid rgba(54, 235, 210, 0.233);
  text-align: center;
}
.misLibros {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  margin: 0 auto;
}
.libro {
  height: 530px;
  color: rgb(8, 8, 8);
  text-align: center;
  margin: 0 auto;
}
.contenedor {
  width: 266px;
  margin: 0 auto;
  border-radius: 5px;
}

.foto {
  margin: 0 auto;
  width: 260px;
  height: 360px;
  background-color: rgb(179, 172, 172);
  margin-bottom: 20px;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.botonVerde {
  height: 30px;
  width: 190px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 2px;
  color: black;
  font-size: 15px;
  border: 1px solid #e2a026;
  transition: 0.5s;
  &:hover {
    background-color: #e2a026;
    color: white;
    border: 1px solid white;
  }
}
.botonRojo {
  height: 30px;
  width: 190px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 2px;
  color: black;
  font-size: 15px;
  border: 1px solid rgb(245, 98, 98);
  transition: 0.5s;
  &:hover {
    background-color: rgb(245, 98, 98);
    color: white;
    border: 1px solid rgb(255, 255, 255);
  }
}
.boton {
  text-align: center;
}

input,
select {
  margin: 2%;
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

.flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.modal-body {
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
  padding: 5px;
  background-color: #f9feff;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.izq {
  width: 100%;
  padding: 20px;
  text-align: center;
}
