<header>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</header>
<div id="fondo"></div>
<div id="wrapper">
  <!-- ------------------------------------------- -->
  <div class="celementos">
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
  </div>
  <!-- ------------------------------------------- -->
