
div{
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
h1{
    text-align: center;
}
form{
    text-align: center;
}
input{
    margin: 5px 10px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid;
}
button{
    border-radius: 8px;
    width: 190px;
}
select{
    width: 190px;
    height: 36px;
    border-radius: 8px;
}