<div class="wrapper">
  <div class="container">
    <h1>REGISTER</h1>
    <div id="raya"></div>
    <form action="" (ngSubmit)="onSubmit()" [formGroup]="registroForm">
      <div id="nick">
        <input
          type="text"
          placeholder="Nickname"
          #nick
          formControlName="nickname"
          required
        /><br />
        <span *ngIf="registroForm.controls['nickname'].hasError('minlength')">
          Por favor intoduce un nickname de al menos 4 caracteres
        </span>
        <span *ngIf="registroForm.controls['nickname'].hasError('maxlength')">
          No puedes exceder los 12 caracteres
        </span>
      </div>
      <div class="nombre">
        <input
          type="text"
          placeholder="Nombre"
          #nombre
          formControlName="name"
          required
        /><br />
        <span *ngIf="registroForm.controls['name'].hasError('minlength')">
          Por favor intoduce un nombre de al menos 4 caracteres
        </span>
        <span *ngIf="registroForm.controls['name'].hasError('maxlength')">
          No puedes exceder los 20 caracteres
        </span>
      </div>
      <div class="sexo">
        <select name="Sexo" #sexo formControlName="sexo" required>
          <option>Mujer</option>
          <option>Varon</option> </select
        ><br />
      </div>
      <div class="email">
        <input
          type="text"
          placeholder="Email"
          #email
          formControlName="email"
          required
        /><br />
        <span *ngIf="registroForm.controls['email'].hasError('pattern')">
          Email no valido
        </span>
      </div>
      <div class="pass">
        <input
          type="password"
          placeholder="Contraseña"
          #pass
          formControlName="pass"
          [formGroup]="registroForm"
        /><br />
        <span *ngIf="registroForm.controls['pass'].hasError('pattern')">
          La contraseña debe tener una longitud minima de 8 caracteres y
          contener letras en mayusculas,minusculas y numeros
        </span>
      </div>
      <div class="pass2">
        <input
          type="password"
          placeholder="Repetir contraseña"
          #pass2
          formControlName="pass2"
          [formGroup]="registroForm"
        /><br />
        <span *ngIf="registroForm.controls.pass2.errors?.matchPass">
          Las contraseñas no coinciden
        </span>
      </div>
      <div id="raya"></div>

      <div class="subir">
        <button
          [routerLink]="['/login']"
          type="submit"
          [disabled]="!registroForm.valid"
          (click)="(1)"
        >
          SIGN UP
        </button>
        <p>
          Ya estas registrado?
          <a [routerLink]="['/home']">Entra</a>
        </p>
      </div>
    </form>
  </div>
</div>
