<header>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</header>
<div id="fondo"></div>
<div id="wrapper">
  <!-- ------------------------------------------- -->

  <div class="subirelementos" *ngIf="getValor()">
    <div id="cajafoto">
      <div class="colum">
        <div class="cambiarfoto"></div>
        <div class="subirfoto">Subir foto</div>
      </div>
      <div class="cambiarperfil">
        <input type="text" placeholder="Nombre" />
        <input type="text" placeholder="Apellido" />
        <input type="text" placeholder="Correo" />
        <input type="select" placeholder="Genero" />
        <input type="password" placeholder="Anterior contraseña" />
        <input type="password" placeholder="Nueva contraseña" />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10 "
          placeholder="Sobre ti"
        ></textarea>
        <div id="guardar">Guardar</div>
      </div>
    </div>
  </div>
</div>