<header>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</header>
<div id="fondo"></div>
<div id="wrapper">
  <!-- ------------------------------------------- -->

  <div class="subirelementos" *ngIf="getValor()">
    <div id="cajafoto">
      <div class="colum">
        <div class="cambiarfoto">
          <img src="{{ userData.photo }}" id="" />
        </div>
        <!-- <div class="subirfoto">Sube tu foto</div> -->
        <input id="foto" type="text" placeholder="URL de tu foto" />
      </div>
      <form [formGroup]="registroForm" class="cambiarperfil">
        <input
          type="text"
          placeholder="Nombre"
          value="{{ userData.name }}"
          #name
        />
        <input
          type="text"
          placeholder="Nickname"
          value="{{ userData.nickname }}"
          #nickname
        />
        <select
          class="input"
          type="select"
          placeholder="Género"
          value="{{ userData.sex }}"
          #sex
        >
          <option value="w">Mujer</option>
          <option value="H">Hombre</option>
        </select>
        <input
          type="text"
          placeholder="Ciudad"
          value="{{ userData.place }}"
          #place
        />
        <input type="password" placeholder="Nueva contraseña" #password2 />
        <input
          type="text"
          placeholder="Correo"
          id="email"
          value="{{ userData.email }}"
          #email
        />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10 "
          placeholder="Sobre ti"
          value="{{ userData.aboutYou }}"
          #aboutYou
        ></textarea>
        <button
          [disabled]="!registroForm.valid"
          id="guardar"
          (click)="
            editUser(
              name.value,
              nickname.value,
              sex.value,
              place.value,
              password2.value,
              email.value,
              aboutYou.value
            )
          "
        >
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
