// --------------------------------------------------------------------------------       Menu
* {
  font-family: "Baloo Paaji 2", cursive;
}

// --------------------------------------------------------------------------------
.input {
  width: 50%;
  position: relative;
}
#input2 {
  width: 96%;
  position: relative;
  margin-top: 0px;
}
.input span {
  position: absolute;
  top: 53px;
  left: 215px;
  color: rgb(224, 91, 91);
  font-weight: 700;
}
#cajafoto {
  width: 70%;
  padding: 45px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cambiarfoto {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: white;
  margin: 0px 40%;
  contain: content;
}

#imgPerfil {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: #f2f2f2;
  margin: 0 auto;
}

img {
  height: 100%;
  width: 100%;
  size: cover;
}
.subirfoto {
  height: 50px;
  width: 200px;
  background-color: #0e99ac;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: -30%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
  contain: content;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.subirfoto:hover {
  background-color: #a70eac;
  transition: 1s;
}
.colum {
  display: flex;
  flex-wrap: wrap;
}
.cambiarperfil {
  display: flex;
  flex-wrap: wrap;
}
#email {
  width: 100%;
}
#photo {
  width: 100%;
}
input {
  height: 36px;
  width: 95%;
  margin: 3% 2% 2% 2%;
  text-align: center;
  background-color: #fffffff1;
  border: white;
  color: black;
}
select {
  height: 36px;
  width: 95%;
  margin: 2% 2% 0.5% 2%;
  text-align: center;
  background-color: #fffffff1;
  border: white;
  color: black;
  text-align-last: center;
}
textarea {
  width: 100%;
  margin: 2%;
  text-align: center;
  padding-top: 50px;
  height: 150px;
  background-color: #fffffff1;
  border: white solid 0.5px;
  color: black;
}
#guardar {
  height: 100px;
  width: 300px;
  background-color: #0e99ac;
  border-radius: 5px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  // padding-top: 20px;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}
#guardar:hover {
  background-color: #a70eac;
  transition: 1s;
}
#relativo {
  position: absolute;
}

#foto {
  position: absolute;
  width: 300px;
  top: 27.8em;
  left: -20px;
  color: black;
}
// -------------------------------------------------------------------------------------------------------------
