// --------------------------------------------------------------------------------       Menu
#wrapper {
  //display: flex;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(0%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(230, 230, 230, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=1 );
  height: 100vh;
}
// --------------------------------------------------------------------------------

#cajafoto {
  width: 100%;
  // margin: 50px 0px 10px 100px;
  padding: 45px;
  display: flex;
  margin: 0 auto;
  margin-top: 5%;
}

.cambiarfoto {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
}

#imgPerfil {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: #f2f2f2;
  margin: 0 auto;
  
}


.subirfoto {
  height: 50px;
  width: 200px;
  background-color: #0e99ac;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: -30%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.subirfoto:hover {
  background-color: #a70eac;
  transition: 1s;
}
.colum {
  display: flex;
  flex-wrap: wrap;
}
.cambiarperfil {
  display: flex;
  flex-wrap: wrap;
}
#email
{
  width: 100%;
}
#photo
{
  width: 100%;
}
input {
  height: 36px;
  width: 46%;
  margin: 2% 2% 0.5% 2%;
  text-align: center;
  background-color: #fffffff1;
  border: white;
  color:black;
}
select {
  height: 36px;
  width: 46%;
  margin: 2% 2% 0.5% 2%;
  text-align: center;
  background-color: #fffffff1;
  border: white;
  color:black;
  text-align-last: center;
}
textarea {
  width: 100%;
  margin: 2%;
  text-align: center;
  padding-top: 50px;
  height: 150px;
  background-color: #fffffff1;
  border: white solid 0.5px;
}
#guardar {
  height: 100px;
  width: 300px;
  background-color: #0e99ac;
  border-radius: 5px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  padding-top: 24px;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}
#guardar:hover {
  background-color: #a70eac;
  transition: 1s;
}
#relativo {
  position: absolute;
}
// -------------------------------------------------------------------------------------------------------------
