<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</header>
<div id="fondo"></div>
<div id="wrapper" class="container">
  <!-- ------------------------------------------- -->
  <div class="row solicitudes">
    <div class="col-lg-4 col-md-6 col-sm-12 solicitud">
      <div class="contenedor">
        <div class="foto">
          <img src="https://1.bp.blogspot.com/-3bmfEysDpOY/Vw8dUqmA2nI/AAAAAAAAAXA/88roADaS7vk2ne9g45Sf_VRLP5H6yZn9gCKgB/s1600/U.S.%2BTeaser%2BB1%2BPoster%2B-%2BLAS.jpg" alt="">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="boton">Cancelar</button>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 solicitud">
      <div class="contenedor">
        <div class="foto">
          <img src="https://www.planetadelibros.com/usuaris/libros/fotos/70/m_libros/portada_el-senor-de-los-anillos-iii-el-retorno-del-rey_j-r-r-tolkien_201505211337.jpg" alt="">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="boton">Cancelar</button>
      </div>
    </div><div class="col-lg-4 col-md-6 col-sm-12 solicitud">
      <div class="contenedor">
        <div class="foto">
          <img src="https://1.bp.blogspot.com/-3bmfEysDpOY/Vw8dUqmA2nI/AAAAAAAAAXA/88roADaS7vk2ne9g45Sf_VRLP5H6yZn9gCKgB/s1600/U.S.%2BTeaser%2BB1%2BPoster%2B-%2BLAS.jpg" alt="">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="boton">Cancelar</button>
      </div>
    </div><div class="col-lg-4 col-md-6 col-sm-12 solicitud">
      <div class="contenedor">
        <div class="foto">
          <img src="https://1.bp.blogspot.com/-3bmfEysDpOY/Vw8dUqmA2nI/AAAAAAAAAXA/88roADaS7vk2ne9g45Sf_VRLP5H6yZn9gCKgB/s1600/U.S.%2BTeaser%2BB1%2BPoster%2B-%2BLAS.jpg" alt="">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="boton">Cancelar</button>
      </div>
    </div><div class="col-lg-4 col-md-6 col-sm-12 solicitud">
      <div class="contenedor">
        <div class="foto">
          <img src="https://1.bp.blogspot.com/-3bmfEysDpOY/Vw8dUqmA2nI/AAAAAAAAAXA/88roADaS7vk2ne9g45Sf_VRLP5H6yZn9gCKgB/s1600/U.S.%2BTeaser%2BB1%2BPoster%2B-%2BLAS.jpg" alt="">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="boton">Cancelar</button>
      </div>
    </div><div class="col-lg-4 col-md-6 col-sm-12 solicitud">
      <div class="contenedor">
        <div class="foto">
          <img src="https://1.bp.blogspot.com/-3bmfEysDpOY/Vw8dUqmA2nI/AAAAAAAAAXA/88roADaS7vk2ne9g45Sf_VRLP5H6yZn9gCKgB/s1600/U.S.%2BTeaser%2BB1%2BPoster%2B-%2BLAS.jpg" alt="">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="boton">Cancelar</button>
      </div>
    </div><div class="col-lg-4 col-md-6 col-sm-12 solicitud">
      <div class="contenedor">
        <div class="foto">
          <img src="https://1.bp.blogspot.com/-3bmfEysDpOY/Vw8dUqmA2nI/AAAAAAAAAXA/88roADaS7vk2ne9g45Sf_VRLP5H6yZn9gCKgB/s1600/U.S.%2BTeaser%2BB1%2BPoster%2B-%2BLAS.jpg" alt="">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="boton">Cancelar</button>
      </div>
    </div><div class="col-lg-4 col-md-6 col-sm-12 solicitud">
      <div class="contenedor">
        <div class="foto">
          <img src="https://1.bp.blogspot.com/-3bmfEysDpOY/Vw8dUqmA2nI/AAAAAAAAAXA/88roADaS7vk2ne9g45Sf_VRLP5H6yZn9gCKgB/s1600/U.S.%2BTeaser%2BB1%2BPoster%2B-%2BLAS.jpg" alt="">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="boton">Cancelar</button>
      </div>
    </div>
</div>