<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</header>
<div id="fondo"></div>
<div id="wrapper" class="container" *ngIf="getValor()">

  <!-- ------------------------------------------- -->

  <div class="row solicitudes" *ngIf="datosPeticion.length > 0; else noHay">
    <div class="col-lg-4 col-md-6 col-sm-12 solicitud" *ngFor="let item of datosPeticion; let i = index">
      <div class="contenedor">
        <div class="foto">
          <img src="{{item.photo}}" title="{{item.title}}" alt="Ups! La portada de este libro no carga">
        </div>
        <p>Propietario: {{item.nickname}}, {{item.place}}</p>
        <p>Estado: {{item.status}}</p>
        <button class="boton" (click)="deletePeticion(item.requested_id, i)">Cancelar</button>
      </div>
    </div>
  </div>
  
  <ng-template #noHay>
    <div class="mensaje">Oh, oh.. No has hecho peticiones todavía.</div>
  </ng-template>

</div>