* {
  font-family: "Baloo Paaji 2", cursive;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.contenedor {
  height: 500px;
  width: 266px;
  margin: 0 auto;
  border-radius: 5px;
}
.solicitudes {
  background-color: #f2f2f2;
}

.solicitud {
  height: 500px;
  background-color: #f2f2f2;
  padding: 20px;
  color: rgb(8, 8, 8);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.foto {
  margin: 0 auto;
  width: 260px;
  height: 360px;
  background-color: rgb(179, 172, 172);
  margin-bottom: 20px;
  border-radius: 5px;
}

.boton {
  margin-top: 8px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #e05e5e;
  background-color: rgba(212, 94, 94, 0);
  width: 150px;
  transition: 0.5s;
  margin-top: 8px;

  &:hover {
    background-color: #e05e5e;
    color: white;
    border: 1px solid rgba(255, 252, 252, 0.404);
  }
}

.mensaje {
  text-align: center;
}
p {
  margin: 0;
}

.nombreTitular p span {
  cursor: pointer;
  color: blue;
  font-size: 18px;
  font-weight: 600;
}
