<!----------------------------------- Carousel ----------------------------------->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row card-slider">
        <div class="col-4 card-sliders" *ngFor="let item of bookCarousel1">
          <div class="book-cards">
            <div class="book-card" [class]="colorByCategory(item.type)">
              <div class="content-wrapper">
                <img src="{{item.photo}}" alt="" class="book-card-img">
                <div class="card-content">
                  <div class="book-name">{{item.title}}</div>
                  <div class="book-by">by <strong>{{item.author}}</strong></div>
                  <div class="book-sum card-sum">{{item.description}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row card-slider">
        <div class="col-4 card-sliders" *ngFor="let item of bookCarousel2">
          <div class="book-cards">
            <div class="book-card" [class]="colorByCategory(item.type)">
              <div class="content-wrapper">
                <img src="{{item.photo}}" alt="" class="book-card-img">
                <div class="card-content">
                  <div class="book-name">{{item.title}}</div>
                  <div class="book-by">by <strong>{{item.author}}</strong></div>
                  <div class="book-sum card-sum">{{item.description}} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row card-slider">
        <div class="col-4 card-sliders" *ngFor="let item of bookCarousel3">
          <div class="book-cards">
            <div class="book-card" [class]="colorByCategory(item.type)">
              <div class="content-wrapper">
                <img src="{{item.photo}}" alt="" class="book-card-img">
                <div class="card-content">
                  <div class="book-name">{{item.title}}</div>
                  <div class="book-by">by <strong>{{item.author}}</strong></div>
                  <div class="book-sum card-sum">{{item.description}} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!----------------------------------- Menú de filtros----------------------------------->
<div class="book-store book-store-container">
  <div class="main-wrapper">
    <div class="main-menu">
      <div class="genre">
        <input type="search" placeholder="Buscar..." class="buscador" name="buscar" [(ngModel)]="buscar">
      </div>
      <div class="book-types">
        <a (click)="mostrarLibros()" class="book-type active"> Todos los géneros</a>
        <a (click)="mostrartype('Misterio')" class="book-type"> Misterio</a>
        <a (click)="mostrartype('Fantasia')" class="book-type"> Fantasía</a>
        <a (click)="mostrartype('Ciencia Ficcion')" class="book-type"> Ciencia Ficción</a>
        <a (click)="mostrartype('Historico')" class="book-type"> Histórico</a>
        <a (click)="mostrartype('Biografico')" class="book-type"> Biografico</a>
        <a (click)="mostrartype('Filosofia')" class="book-type"> Filosofía</a>
        <a (click)="mostrartype('Aventura')" class="book-type"> Aventura</a>
        <a (click)="mostrartype('Novela')" class="book-type"> Novela</a>
        <a (click)="mostrartype('Novela negra')" class="book-type"> Novela negra</a>
        <a (click)="mostrartype('Comics')" class="book-type"> Comics</a>
        <a (click)="mostrartype('Otros')" class="book-type"> Otros</a>
      </div>
    </div>
  </div>
  <!----------------------------------- Cards ----------------------------------->
  <div class="row ">
    <div class="book-cards-main col-md-6" *ngFor="let item of book | filtro : buscar">
      <div class="book-card" [class]="colorByCategory(item.type)">
        <div class="content-wrapper">
          <img src="{{item.photo}}" alt="" class="book-card-img-main" (click)="getOneBook(item.book_id)"
            (click)="openModal(info)">
          <div class="card-content">
            <div class="book-name">{{item.title}}</div>
            <div class="book-by">by <strong>{{item.author}}</strong></div>
            <div class="book-sum card-sum">{{item.description}} </div>
            <div>
              <button class="v-btn" (click)="modalRef.hide()" (click)="openModal(petition)" (click)="getBookUser(oneBook.book_id)">
                Pedir Libro
              </button>
              <button class="v-btn-card" (click)="modalRef.hide()" (click)="openModal(promptFav)" (click)="addFavorito(oneBook.book_id)">
                Añadir a favoritos
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card-container book-card-mybooks  col-lg-6 col-md-12 col-sm-12" *ngFor="let item of book | filtro : buscar">
      <div class="book-card book-card-mybooks">
        <div class="content-wrapper">
          <img src="{{ item.photo }}" alt="" class="book-card-img">
          <div class="card-content">
            <div class="book-name">{{ item.title }}
              <div class="book-by">by<strong> {{ item.author }}</strong></div>
            </div>
            <div class="book-sum card-sum">{{ item.description }}</div>
            <div class="btn-container">
              <button class="v-btn-card" type="button" data-target="#staticBackdrop3" data-toggle="modal">
                Pedir
              </button>
              <button class="v-btn-card" type="button">
                Añadir a favoritos
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>


<!----------------------------------- Modal para pedir libro ----------------------------------->
<div class="main">
  <ng-template #petition>
    <div class="modal-petition">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Haz tu petición</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="userbook[0]; else esFalse">
          <h4>Selecciona el usuario del libro</h4>
          <select name="libro" #elegido>
            <option value="{{item.user_id}}" *ngFor="let item of userbook"><b>Nick: {{ item.nickname }} -</b>
              Ubicación: {{ item.place }}</option>
          </select>
          <button class="v-btn" (click)="modalRef.hide()" (click)="postPeticion(elegido.value)"
            (click)="openModal(promptPetition)">
            Aceptar
          </button>
        </div>
        <ng-template #esFalse>
          <h4>Ups! Ya tienes este libro</h4>
        </ng-template>
      </div>
    </div>
  </ng-template>

  <!----------------------------------- Modal para aviso favoritos ----------------------------------->
  <ng-template #promptFav>
    <div class="modal-prompt-fav">
      <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          x
        </button>
        <div class="success-checkmark">
          <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h4>¡Añadido a favoritos!</h4>
      </div>
    </div>
  </ng-template>

  <!----------------------------------- Modal para aviso de peticiones ----------------------------------->
  <ng-template #promptPetition>
    <div class="modal-prompt-petition">
      <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="success-checkmark">
          <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h4>¡Petición realizada!</h4>
      </div>
    </div>
  </ng-template>
</div>
<!----------------------------------- Modal para información del libro ----------------------------------->
<ng-template #info>
  <div class="modal-book">
    <div class="modal-header">
      <h3 class="modal-title pull-left">{{ oneBook.title }}</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body modal-book-body">
      <div class="modal-book-top row">
        <div class="modal-book-info col-8">
          <div>
            <p>Autor</p>
            <p>{{ oneBook.author }}</p>
          </div>
          <div>
            <p>Año de publicacion</p>
            <p>{{ oneBook.year }}</p>
          </div>
          <div>
            <p>Editorial</p>
            <p>{{ oneBook.editorial }}</p>
          </div>
          <div>
            <p>Género</p>
            <p>{{ oneBook.type }}</p>
          </div>
        </div>
        <div class="modal-book-img col-4">
          <img src="{{ oneBook.photo }}" alt="" />
        </div>
      </div>
      <div class="modal-book-bottom row">
        <div class="modal-book-desc col-12">
          <h4>Sinopsis:</h4>
          <p>{{ oneBook.description }}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer modal-book-buttons">
      <button class="v-btn" (click)="modalRef.hide()" (click)="openModal(petition)"
        (click)="getBookUser(oneBook.book_id)">Pedir Libro</button>
      <button class="v-btn" (click)="modalRef.hide()" (click)="openModal(promptFav)"
        (click)="addFavorito(oneBook.book_id)">Añadir a
        favoritos</button>
    </div>
  </div>
</ng-template>
<!-- </div> -->
