/*------------------------------------------------------------------------------------*/
@import "../../app.component.scss";


/*------------------------------------- Mixin para colores de las cards -------------------------------------*/
@include colorByCategory ($color-pie-pink, $color-pie-fucsia, $color-pie-salmon, $color-pie-red,
  $color-pie-lime, $color-pie-green, $color-pie-orange-dark, $color-pie-orange,
  $color-pie-purple, $color-pie-sky, $color-pie-blue);

* {
  outline: none;
  box-sizing: border-box;
}

/*------------------------------ Estilos para carousel ------------------------------ */
.carousel-control-prev {
  width: 80px;

}

.carousel-control-next {
  width: 80px;
}

.card-sliders {
  padding: 0px;
}

.card-slider {
  padding: 0 20px;
}

/*------------------------------ Estilos para las cards del carousel ------------------------------ */
.book-cards.book-carousel {
  padding-bottom: 40px;
  padding-top: 0;
  position: relative;


  .book-card {
    margin-top: 0;
    height: 240px;
    width: 100%;
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 10px;
    background-color: $color-pie-blue;
    ;
  }

  .content-wrapper {
    display: flex;
    //border-bottom: 1px solid #ebedef;
    position: relative;
  }

  .book-card-img {
    width: 160px;
    height: 250px;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 0px 1px 7px 2px #c7c9d3;
    border-bottom: 1px solid #dcddde;
    object-fit: cover;
    margin-bottom: 20px;
    transition: .3s ease;

    &:hover {
      transform: scale(1.04);
    }
  }

  .card-content {
    color: white;
    padding: 30px;
    overflow: hidden;
    position: relative;
  }

  .book-name {
    font-size: 22px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .book-sum {
    margin-top: 20px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .book-by {
    font-size: 13px;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/*----------------------- Contenedor de la book store -----------------------------*/
/* Estilos para menú de filtros */


.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  min-width: 1280px;
  white-space: nowrap;
  padding: 0 8px 16px;
  border-bottom: 1px solid $color-grey;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 2;
}

.book-types {
  // margin-left: auto;
  cursor: pointer;
  max-width: 1280px;
}

.book-type {
  background-color: transparent;
  font-size: 14px;
  border: none;
  position: relative;
  transition: 0.2s;
  margin-left: 20px;
  padding: 0;

  &:visited,
  &:hover,
  &:focus {
    -webkit-text-stroke: .4px;

    &:before {
      content: "";
      position: absolute;
      width: 107px;
      height: 2px;
      bottom: -20px;
      right: 0;
      color: $color-primary;
      background-color: #67d4ea;
      box-shadow: 0px -2px 5px 0px #67d4ea;
    }
  }

  &:nth-child(2):before {
    width: 49px;
    background-color: #edb9d6;
    box-shadow: 0px -3px 5px 0px #edb9d6;
  }

  &:nth-child(3):before {
    width: 50px;
    background-color: #84c1cc;
    box-shadow: 0px -2px 5px 0px #84c1cc;
  }

  &:nth-child(4):before {
    width: 89px;
    background-color: #cbb5e2;
    box-shadow: 0px -2px 5px 0px #cbb5e2;
  }

  &:nth-child(5):before {
    width: 54px;
    background-color: #fdca95;
    box-shadow: 0px -3px 5px 0px #fdca95;
  }

  &:nth-child(6):before {
    width: 62px;;
    background-color: #94dbc1;
    box-shadow: 0px -3px 5px 0px #94dbc1;
  }

  &:nth-child(7):before {
    width: 51px;
    background-color: #e0bfb2;
    box-shadow: 0px -2px 5px 0px #e0bfb2;
  }

  &:nth-child(8):before {
    width: 54px;
    background-color: #FFB9B3;
    box-shadow: 0px -3px 5px 0px #FFB9B3;
  }

  &:nth-child(9):before {
    width: 41px;
    background-color: #CAA7BD;
    box-shadow: 0px -3px 5px 0px #CAA7BD;
  }

  &:nth-child(10):before {
    width: 78px;;
    background-color: #FFB9C4;
    box-shadow: 0px -3px 5px 0px #FFB9C4;
  }

  &:nth-child(11):before {
    width: 43px;
    background-color: #A4C3D2;
    box-shadow: 0px -3px 5px 0px #A4C3D2;
  }

  &:nth-child(12):before {
    width: 34px;;
    background-color: #31e49f;
    box-shadow: 0px -2px 5px 0px #31e49f;

    &:active {
      background-color: #31e49f;
      box-shadow: 0px -2px 5px 0px #31e49f;
    }
  }
}

.book-store {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  //  box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);
}

.home-card-container {
  min-height: 400px;
  padding: 0px 32px 64px;
  background-color: rgba(255, 255, 255, 0.9);
  // box-shadow: 8px 0 8px -4px rgba(136, 136, 136, 0.6), -8px 0 8px -4px rgba(151, 151, 151, 0.6);
}

.main-wrapper {
  width: 100%;
  max-height: 128px;
  ;
  display: flex;
  flex-grow: 1;
  padding-top: 80px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
  overflow: hidden;
}

.popular-books {
  flex-grow: 1;
  padding: 0 30px;
  overflow-y: auto;
}

.genre {
  font-weight: 500;
  font-size: 16px;
}

.buscador {
  border: none;


  padding: 8px 16px;
  width: 176px;
  transition: 0.2s;

  &:hover {
    border-bottom: 1px solid $color-grey;
  }

  &:focus {
    border: 1px solid $color-grey;
    border-radius: 30px;
  }
}

// // ------------------------------------------ Modal info libro ------------------------------------------------
ng-template {
  position: absolute;
  top: 600px;
}

.modal-book {
  .modal-header {
    border-bottom: 0;

    h3 {
      border-bottom: 2px solid $color-primary;
      padding: 0 0.5em;
    }
  }

  .modal-book-body {
    .modal-book-top {

      .modal-book-top,
      .modal-book-img {
        padding: 0;
      }

      .modal-book-info {
        div {
          padding: 0.5em 0.5em;
          border-bottom: 1px solid $color-primary;

          p {
            margin-bottom: 0;

            &:first-child {
              font-weight: bold;
            }
          }
        }
      }

      .modal-book-img {
        max-width: 120px;
        height: 168px;
        margin: 0 auto;
        border-radius: 0.3rem;
        box-shadow: 4px 4px 3px 0px $color-grey-dark;

        img {
          width: 100%;
          height: 100%;
          border-radius: 0.3rem;
        }
      }
    }

    .modal-book-desc {
      margin-top: 2em;

      p {
        margin-bottom: 0;
      }
    }
  }

  .modal-footer {
    justify-content: center;
    border: none;
  }
}

// // ------------------------------------------ Modal para peticiones ------------------------------------------------
.modal-petition {
  .modal-header {
    justify-content: center;
    border: none;

    h3 {
      border-bottom: 2px solid $color-primary;
      padding: 0 .5em;
    }
  }

  .modal-body {
    display: flex;
    justify-content: center;

    div:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;


      select {
        border: 1px solid $color-grey-dark;
        border-radius: 5px;
        margin-bottom: 1em;
        width: 380px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

// // ------------------------------------------ Modal aviso favoritos/peticion realizada ------------------------------------------------
.modal-prompt-fav,
.modal-prompt-petition {
  .modal-body {
    button {
      position: absolute;
      right: 16px;
      top: 8px;
      z-index: 999;
      transition: 0.2s;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .modal-footer {
    border: none;
    justify-content: center;
  }
}

.success-checkmark {
  width: 80px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid $color-success;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      background: #ffffff;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4caf50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #ffffff;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
