/* Control de estilos */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Variables para colores*/
$color-primary: #38a9b8;
$color-hover: #297d88;
$color-grey: #c4c4c4;
$color-grey-dark: #9b9b9b;
$color-success: #569e29;
$color-warning: #dcd20c;
$color-danger: #e20029;

/* Variable para tamaño de la barra de navegación */
$nav-height: 58px;

/* Variables para breakpoints */
$breakpoint: 768px;

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: $color-grey;
}

// Navigation Variables
$content-width: 1300px;
$nav-background: white;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
  box-shadow: 0 3px 12px #00000026;
}

/* Logo */
.brand {
  position: absolute;
  padding-left: 33px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
  a,
  a:visited {
    color: $color-primary;
    text-decoration: none;
  }
}
img {
  height: 110px;
  position: absolute;
  top: -40px;
  left: -40px;
  cursor: pointer;
}
/* Contenedor sin padding */
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

/* Control principal de la barra de navegación */
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $color-primary;
        text-decoration: none;
        &:hover {
          background: $color-hover;
          color: white;
          transition: 0.4s;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: " ▾";
        }
      }

      /* Lista del dropdown */
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

/* Lista del dropdown para unir con el evento "toggle" del JS */
.nav-dropdown {
  position: absolute;
  right: 0px;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

/* Union con el "toggle" de móvil */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 767px) {
  /* Hamburguesa de la navegación para ver sólo en móvil */
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  //   left: 18px;
  top: 18px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 2px;
    height: 4px;
    width: 32px;
    background: $color-primary;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }

  span:before {
    top: -8px;
  }

  span:after {
    bottom: -8px;
  }

  &.active span {
    // background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      //   transform: rotate(45deg);
      transform: translate3d(0, 0, 0);
    }
    &:after {
      //   transform: rotate(-45deg);
      transform: translate3d(0, 0, 0);
    }
  }
}

.nav-divider {
  height: 1px;
  width: 100%;
  background-color: $color-grey;
}
