<section class="navigation">
  <div class="nav-container">
    <div class="brand" [routerLink]="['/mostrarLibro']">
      <img src="https://i.ibb.co/DRR136C/Logo.png" alt="Logo" border="0" />

      <a routerLink="#!"> Vitu</a>
    </div>
    <div></div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a
            type="button"
            id="publicar"
            data-toggle="modal"
            data-target="#staticBackdrop"
          >
            Publicar libro
          </a>
        </li>
        <li>
          <a [routerLink]="['/mostrarLibro']" routeractiveLink="mostrarLibro"
            >Buscar libros</a
          >
        </li>
        <li>
          <a [routerLink]="['/favoritos']">Mis favoritos</a>
        </li>
        <li>
          <a [routerLink]="['/solicitudes']">Solicitudes</a>
        </li>
        <li>
          <a [routerLink]="['/peticiones']">Peticiones</a>
        </li>
        <li>
          <a [routerLink]="['/misLibros']">Mis libros</a>
        </li>

        <li>
          <a [routerLink]="['/perfil']">Mi perfil</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
