<script>
/* jQuery para la barra de navegación */
  (function($) {
    // Begin jQuery
    $(function() {
      // DOM ready
      // If a link has a dropdown, add sub menu toggle.
      $("nav ul li button").click(function(e) {
        $(this)
          .siblings(".nav-dropdown")
          .toggle();
        // Close one dropdown when selecting another
        $(".nav-dropdown")
          .not($(this).siblings())
          .hide();
        e.stopPropagation();
      });
      // Clicking away from dropdown will remove the dropdown class
      $("html").click(function() {
        $(".nav-dropdown").hide();
      });
      // Toggle open and close nav styles on click
      $("#nav-toggle").click(function() {
        $("nav ul").slideToggle();
      });
      // Hamburger to X toggle
      $("#nav-toggle").on("click", function() {
        this.classList.toggle("active");
      });
    }); // end DOM ready
  })(jQuery); // end jQuery
  </script>

<section class="navigation">
  <div class="nav-container">
    <div class="brand" [routerLink]="['/home']">
      <img src="https://i.ibb.co/DRR136C/Logo.png" alt="Logo" border="0" />

      <a routerLink="#!"> Vitu</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <button id="nav-toggle"><span></span></button>
      </div>
      <ul class="nav-list">
        <li>
          <a routerLink="mostrarLibro">Buscar libros</a>
        </li>
        <li>
          <a routerLink="favoritos">Favoritos</a>
        </li>
        <li>
          <a routerLink="solicitudes">Solicitudes</a>
        </li>
        <li>
          <a routerLink="peticiones">Peticiones</a>
        </li>
        <li>
          <a routerLink="misLibros">Mis libros</a>
        </li>

        <li>
          <button>Usuario</button>
          <ul class="nav-dropdown">
            <li>
              <a routerLink="perfil">Editar perfil</a>
            </li>
            <div class="nav-divider"></div>
            <li>
              <a routerLink="#!">Cerrar sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>

<!---------------- Modal ---------------->
<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
      <h3 class="modal-title pull-left">¡PUBLICA UN NUEVO LIBRO!</h3>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
      <div class="modal-body">
        <div class="flex">
          <div class="izq">
            <input class="inpmodal" type="text" placeholder="título" #titulo />
            <input class="inpmodal" type="text" placeholder="autor" #autor />
            <input
              class="inpmodal"
              type="text"
              placeholder="año de publicación"
              #anyo
            />
            <input
              class="inpmodal"
              type="text"
              placeholder="editorial"
              #editorial
            />
            <input class="inpmodal" type="text" placeholder="género" #genero />
            <textarea
              class="inpmodal"
              cols="20"
              rows="5"
              placeholder="Descripción del libro... ¡sin spoilers!"
              #descripcion
            ></textarea>
          </div>
          <div class="dcha">
            <div class=" imagen" id="div-img"></div>
            <button class=" cambiar" (click)="(1)">
              Cambiar foto
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="publicar"
          type="submit"
          data-dismiss="modal"
          (click)="(1)"
        >
          Publicar libro
        </button>
      </div>
    </div>
  </div>
</div>
