<div class="wrapper">
  <div class="container">
    
    <div id="LogoRegister"></div>
    <h6>Inicia sesión en VITU:</h6>
    <hr />
    <form action="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div>
        <input
          type="text"
          placeholder="Nickname"
          formControlName="nickname"
          #nick 
        /><br />
      </div>
      <div>
        <input
          type="password"
          placeholder="Contraseña"
          formControlName="pass"
          #pass
        /><br />
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          (click)="authLogin2(nick.value,pass.value)"
        >
          SIGN IN
        </button>

        <p>
          ¿Aún no te has registrado?
          <a [routerLink]="['/registro']">Regístrate</a>
        </p>
      </div>
    </form>
  </div>
</div>
