<div class="wrapper">
    <div class="container" >
        <h1>SIGN IN</h1>
        <form action="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div>
                <input type="text" placeholder="Nickname" formControlName="nickname" #nick><br>
            </div>
            <div>
                <input type="password" placeholder="Contraseña" formControlName="pass" #pass><br>
            </div>
            <div>
                <button type="submit" [disabled]="!loginForm.valid" (click)="1">SIGN IN</button>
            </div>
        </form>
    </div>
</div>