<div class="wrapper">
  <div class="container">
    <h1>SIGN IN</h1>
    <hr />
    <form action="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div>
        <input
          type="text"
          placeholder="Nickname"
          formControlName="nickname"
          #nick
        /><br />
      </div>
      <div>
        <input
          type="password"
          placeholder="Contraseña"
          formControlName="pass"
          #pass
        /><br />
      </div>
      <div>
        <button
          [routerLink]="['/mostrarLibro']"
          type="submit"
          [disabled]="!loginForm.valid"
          (click)="onValor()"
        >
          SIGN IN
        </button>

        <p>
          Aun no te has registrado?
          <a [routerLink]="['/registro']">Registrate</a>
        </p>
      </div>
    </form>
  </div>
</div>
