/* Control de estilos */
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "Baloo Paaji 2", cursive;
}

/* Mixin para control del media query */
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1440px) {
      @content;
    }
  } @else if $point == laptop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == xsmobile {
    @media (max-width: 375px) {
      @content;
    }
  }
}

/* Variables para colores*/
$color-primary: #38a9b8;
$color-hover: #287A85;
$color-blue: #3494CF;
$color-dark: #394252;
$color-secondary: #EB4A2F;
$color-grey: #c4c4c4;
$color-grey-dark: #2b2b2b;
$color-success: #569e29;
$color-warning: #dcd20c;
$color-danger: #e20029;

/* Variable para tamaño de la barra de navegación */
$nav-height: 58px;

/* Variables para breakpoints */
$breakpoint: 768px;

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: $color-grey;
  // position: relative;
}

// Navigation Variables
$content-width: 1300px;
$nav-background: white;

/*-------------- Estilos para botones ---------------*/
button:disabled, button:disabled:hover {
  background-color: $color-primary;
  border-color: $color-primary;
  opacity: .6;
}
.v-btn{
  color: white;
  background-color: $color-primary;
  padding: .25em 1.5em;
  border: 2px solid $color-primary;
  border-radius: 5px;
  transition: .3s;

  &:hover{
    background-color: $color-hover;
    border-color: $color-hover;
  }

  &:active{
    transform: scale(0.9);
  }
}
button {
  &:focus{
    outline: none;
  }
}

.v-btn-form{
  color: white;
  background-color: $color-primary;
  padding: .5em 2em;
  border: 2px solid $color-primary;
  border-radius: 20px;
  transition: .3s;

  &:hover{
    background-color: $color-hover;
    border-color: $color-hover;
  }

  &:active{
    transform: scale(0.9);
  }
}

button.v-btn-form-outline{
  color: white;
  font-weight: bold;
  background-color: transparent;
  padding: .5em 2em;
  border: 2px solid white;
  border-radius: 20px;
  transition: .3s;

  &:hover{
    background-color: white;
    border-color: white;
    color: $color-primary;
  }

  &:active{
    transform: scale(0.9);
  } 
}

// ------------------------------------------ Modal estilos generales ------------------------------------------------
.modal-header {
  button {
    transition: .3s;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1);
    }
  }
}


