/* Importaciones SCSS */
@import "./scss/mixins.scss";
@import "./scss/variables.scss";
@import "./scss/buttons.scss";
@import "./scss/cards.scss";

/* Control de estilos */
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "Baloo Paaji 2", cursive;
}

// ------------------------------------------ Modal estilos generales ------------------------------------------------
.modal-header {
  button {
    transition: .3s;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1);
    }
  }
}


