/* Control de estilos */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Mixin para control del media query */
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1440px) { @content ; }
 }
  @else if $point == laptop {
    @media (max-width: 1200px) { @content ; }
 }
   @else if $point == tablet {
    @media (max-width: 1024px) { @content ; }
 }
  @else if $point == mobile {
    @media (max-width: 768px)  { @content ; }
 }
 @else if $point == xsmobile {
    @media (max-width: 375px)  { @content ; }
 }
}

/* Variables para colores*/
$color-primary: #38a9b8;
$color-hover: #297d88;
$color-grey: #c4c4c4;
$color-grey-dark: #9b9b9b;
$color-success: #569e29;
$color-warning: #dcd20c;
$color-danger: #e20029;

/* Variable para tamaño de la barra de navegación */
$nav-height: 58px;

/* Variables para breakpoints */
$breakpoint: 768px;

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: $color-grey;
}

// Navigation Variables
$content-width: 1300px;
$nav-background: white;

footer {
  height: 10vh;
  background-color: rgb(248, 248, 248);
  text-align: center;
  padding: 20px;
}
.divisor {
  width: 50px;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.425);
  margin: 0 auto;
  margin-bottom: 20px;
}
