<section class="navigation">
  <div class="nav-container">
    <div class="brand" [routerLink]="['/home']">
      <img src="https://i.ibb.co/DRR136C/Logo.png" alt="Logo" border="0" />

      <a routerLink="#!"> Vitu</a>
    </div>
    <div></div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a routerLink="mostrarLibro">Buscar libros</a>
        </li>
        <li>
          <a routerLink="favoritos">Mis favoritos</a>
        </li>
        <li>
          <a routerLink="solicitudes">Solicitudes</a>
        </li>

        <li>
          <a>Usuario</a>
          <ul class="nav-dropdown">
            <li>
              <a routerLink="perfil">Mi perfil</a>
            </li>
            <div class="nav-divider"></div>
            <li>
              <a routerLink="#!">Cerrar sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>

<router-outlet></router-outlet>

<div class="solicitudes">
  <div class="sol">
    <div id="newSol">
      <div class="tu"></div>
      <div class="flex" style="width: 33.4%;">
        <div class="solicitante"></div>
        <div class="aceptar "></div>
        <div class="rechazar"></div>
      </div>
      <div class="el"></div>
    </div>
    <div id="newSol">
      <div class="tu"></div>
      <div class="flex" style="width: 33.4%;">
        <div class="solicitante"></div>
        <div class="aceptar "></div>
        <div class="rechazar"></div>
      </div>
      <div class="el"></div>
    </div>
    <div id="newSol">
      <div class="tu"></div>
      <div class="flex" style="width: 33.4%;">
        <div class="solicitante"></div>
        <div class="aceptar "></div>
        <div class="rechazar"></div>
      </div>
      <div class="el"></div>
    </div>
    <div id="newSol">
      <div class="tu"></div>
      <div class="flex" style="width: 33.4%;">
        <div class="solicitante"></div>
        <div class="aceptar "></div>
        <div class="rechazar"></div>
      </div>
      <div class="el"></div>
    </div>
    <div id="newSol">
      <div class="tu"></div>
      <div class="flex" style="width: 33.4%;">
        <div class="solicitante"></div>
        <div class="aceptar "></div>
        <div class="rechazar"></div>
      </div>
      <div class="el"></div>
    </div>
    <div id="newSol">
      <div class="tu"></div>
      <div class="flex" style="width: 33.4%;">
        <div class="solicitante"></div>
        <div class="aceptar "></div>
        <div class="rechazar"></div>
      </div>
      <div class="el"></div>
    </div>
  </div>
</div>
