<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">Vitu</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a routerLink="#!">Buscar libros</a>
        </li>
        <li>
          <a routerLink="#!">Mis favoritos</a>
        </li>
        <li>
          <a routerLink="#!">Solicitudes</a>
        </li>

        <li>
          <a href="#!">Usuario</a>
          <ul class="nav-dropdown">
            <li>
              <a routerLink="#!">Mi perfil</a>
            </li>
            <div class="nav-divider"></div>
            <li>
              <a routerLink="#!">Cerrar sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>

<article style="height: 100vh; background-color:#c4c4c4;">
  
</article>

<router-outlet></router-outlet>