<div class="fondo">
  <div class="color">
    <div class="container">
      <div class="foto"></div>
      <div class="muchos">
        <div class="pes"></div>
        <div class="pes"></div>
        <div class="pes"></div>
        <div class="pes"></div>
        <div class="pes"></div>
      </div>
    </div>
    <div class="botones">
      <!-- <div class="fav" (click)="addFavorito(i.book_id)" (click)="openModal(name2)">Añadir a favoritos</div>
      <div class="pedir" (click)="getBookUser(i.book_id)" (click)="openModal(name)">Pedir libro</div> -->
    </div>
  </div>
</div>

<!-- Modal para pedir libro -->
<ng-template #name>
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title pull-left">¡Peticion!</h3>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="userbook[0];else esFalse">
        <br />
      <h4>Selecciona el usuario del libro</h4>
      <select name="libro" id="selectModal" #elegido>
        <option *ngFor="let item of userbook"
          >{{ item.user_id }},{{ item.nickname }},{{ item.place }}</option
        >
      </select>
      <button  (click)="modalRef.hide()" (click)="postPeticion(elegido.value)" (click)="openModal(name3)">Aceptar</button>
      </div>
      <ng-template #esFalse>
        <h4>Ya tienes este libro</h4>
      </ng-template>
      
    </div>
    <div class="modal-footer">
      <button (click)="modalRef.hide()">Cerar</button>
    </div>
  </div>
</ng-template>
<!-- Modal aviso favoritos -->
<ng-template #name2>
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title pull-left">Favorito!</h3>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <br />
      <h4>Libro añadido a Favoritos</h4>
    </div>
    <div class="modal-footer">
      <button (click)="modalRef.hide()">Cerrar</button>
    </div>
  </div>
</ng-template>

<!-- Modal aviso peticiones -->
<ng-template #name3>
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title pull-left">Favorito!</h3>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <br />
      <h4>Peticion creada</h4>
    </div>
    <div class="modal-footer">
      <button (click)="modalRef.hide()">Cerrar</button>
    </div>
  </div>
</ng-template>