<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</header>
<div id="fondo"></div>
<div id="wrapper" class="container">

  <!-- <nav class="menu">
    <div class="cuadrado">
      <div class="circulo">
        <header class="avatar">
          <img id="imgPerfil" src="https://previews.123rf.com/images/dualororua/dualororua1801/dualororua180100142/92769891-ni%C3%B1a-sentada-en-una-silla-leyendo-un-libro.jpg" alt="">
      
        </header>
      </div>
      <h2>Señor Negro</h2>
    </div>
    <ul>
      <li [routerLink]="['/perfil']">
        <span>Editar perfil</span>
      </li>
      <li [routerLink]="['/solicitudes']"><span>Solicitudes </span></li>
      <li [routerLink]="['/misLibros']"><span>Mis libros</span></li>
      <li
        [routerLink]="['/favoritos']"
        style="  background-color: rgba(32, 175, 175, 0.658);"
      >
        <span>Favoritos</span>
      </li>
    </ul>
    <div class="lib">
      <div
        id="libro"
        type="button"
        data-toggle="modal"
        data-target="#staticBackdrop"
      >
        <span class="subirlibro"></span>
      </div>
    </div>
  </nav> -->

  <div class="row misFavoritos">
    <div class="col-lg-4 col-md-6 col-sm-12 favorito">
      <div class="contenedor">
        <div class="foto">
        <img
          src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/sci-fi-book-cover-template-a1ec26573b7a71617c38ffc6e356eef9_screen.jpg?ts=1561547637"
          alt="">
        </div>
        <button class="boton" type="button" (click)="1">Eliminar artículo</button>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 favorito">
      <div class="contenedor">
        <div class="foto">
        <img
          src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/sci-fi-book-cover-template-a1ec26573b7a71617c38ffc6e356eef9_screen.jpg?ts=1561547637"
          alt="">
        </div>
        <button class="boton" type="button" (click)="1">Eliminar artículo</button>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 favorito">
      <div class="contenedor">
        <div class="foto">
        <img
          src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/sci-fi-book-cover-template-a1ec26573b7a71617c38ffc6e356eef9_screen.jpg?ts=1561547637"
          alt="">
        </div>
        <button class="boton" type="button" (click)="1">Eliminar artículo</button>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 favorito">
      <div class="contenedor">
        <div class="foto">
        <img
          src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/sci-fi-book-cover-template-a1ec26573b7a71617c38ffc6e356eef9_screen.jpg?ts=1561547637"
          alt="">
        </div>
        <button class="boton" type="button" (click)="1">Eliminar artículo</button>
      </div>
    </div>
    
  </div>
</div>