<header>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</header>
<div id="fondo">
  <div id="wrapper" class="container" *ngIf="getValor()">
    <div *ngIf="this.fav[0] == undefined" id="vacio">
      <div class="beta">
        <nav class="shelf">
          <a routerLink="/mostrarLibro" class="book home-page">Buscar libros</a>
          <a class="book about-us">Quienes somos</a>
          <a class="book contact">Contactanos</a>
          <a class="book faq">F.A.Q.</a>
          <span class="book not-found"></span>
          <span class="door left"></span>
          <span class="door right"></span>
        </nav>
        <h1>No se ha encontrado nada</h1>
        <p>Añade algun libro a favoritos</p>
      </div>
    </div>
    <div class="row misFavoritos" *ngIf="this.fav">
      <div
        class="col-lg-4 col-md-6 col-sm-12 favorito"
        *ngFor="let item of fav; let i = index"
      >
        <div class="contenedor">
          <div class="foto">
            <img src="{{ item.photo }}" alt="" />
          </div>
          <div *ngIf="tienePeticion(item.book_id); else esFalse">
            <p>Peticion Creada</p>
          </div>
          <ng-template #esFalse>
            <button
              class="v-btn"
              (click)="getBookUser(item.book_id)"
              (click)="openModal(name)"
              class="boton"
            >
              Pedir libro
            </button>
          </ng-template>
          <button
            class="boton2"
            type="button"
            (click)="delFav(item.favorites_id, i)"
          >
            Eliminar favorito
          </button>
        </div>
      </div>
    </div>
    <!-- Modal pedir libro -->
    <ng-template #name>
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title pull-left">¡Intercambio!</h3>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="userbook[0] != undefined; else esFalse">
            <br />
            <h4>Selecciona el usuario del libro</h4>
            <select name="libro" id="selectModal" #elegido>
              <option *ngFor="let item of userbook"
                >{{ item.user_id }},{{ item.nickname }},{{ item.place }}</option
              >
            </select>
            <button
              (click)="modalRef.hide()"
              (click)="postPeticion(elegido.value)"
              (click)="openModal(name2)"
            >
              Aceptar
            </button>
          </div>
          <ng-template #esFalse>
            <h4>Ya tienes este libro</h4>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button (click)="modalRef.hide()">Cancelar</button>
        </div>
      </div>
    </ng-template>
    <!-- Modal aviso peticion -->
    <ng-template #name2>
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title pull-left">¡Peticion!</h3>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <br />
          <h4>Peticion en curso</h4>
        </div>
        <div class="modal-footer">
          <button (click)="modalRef.hide()">Cerrar</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
