@import '../../app.component.scss';

* {
  font-family: "Baloo Paaji 2", cursive;
}

.container {
  margin: 24px 0 0 0 auto;
  padding: 0;
  height: 100%;
}

.contenedor {
  width: 266px;
  margin: 0 auto;
  border-radius: 5px;
}
.favorito {
  height: 500px;
  padding: 20px;
  color: rgb(8, 8, 8);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.foto {
  margin: 0 auto;
  width: 260px;
  height: 360px;
  margin-bottom: 20px;
  border-radius: 5px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.boton {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #31a6b3;
  background-color: rgba(255, 255, 255, 0);
  margin: 4px;
  width: 150px;
  transition: 0.5s;
  &:hover {
    background-color: #31a6b3;
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.404);
  }
}
.boton2 {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ffffff00;
  margin: 4px;
  width: 150px;
  transition: 0.5s;
  background-color: rgb(245, 98, 98);
}
.boton2:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(245, 98, 98);
}
.boton2:hover p {
  opacity: 0;
  transition: 3s;
}
p {
  margin: 0;
  padding: 0;
}

// --------------------------------------------------------------------------------       Menu
