<div>
  <div class="slider">
    <ul class="ul">
      <div class="div1">
        <h1>Vitu</h1>
        <h2>Tu web de intercambios</h2>
      </div>
      <div class="div2">
        <h2>Cambia , Comparte , Aprende</h2>
      </div>
      <div class="div3">
        <h2>Deja de amontonar viejos libros y cambialos</h2>
      </div>
      <div class="div4">
        <h2>Disfruta de algo nuevo</h2>
      </div>
    </ul>
  </div>
</div>
<div class="quienes">
  <h3>¿Quiénes somos?</h3>
  <hr />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque nobis ad,
    ullam sed facilis consectetur doloribus dicta vero doloremque ut
    perspiciatis quam minus ab deserunt magnam sint asperiores iure rem. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Eos doloribus iure soluta
    est, eum accusamus perferendis. Provident accusamus, nihil totam laborum
    beatae aliquam molestiae libero aperiam quaerat dolorum repellendus ut!
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque nobis ad,
    ullam sed facilis consectetur doloribus dicta vero doloremque ut
    perspiciatis quam minus ab deserunt magnam sint asperiores iure rem. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Eos doloribus iure soluta
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque nobis ad,
    ullam sed facilis consectetur doloribus dicta vero doloremque ut
    perspiciatis quam minus ab deserunt magnam sint asperiores iure rem. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Eos doloribus iure soluta
    est, eum accusamus perferendis. Provident accusamus, nihil totam laborum
    beatae aliquam molestiae libero aperiam quaerat dolorum repellendus ut!
  </p>
  <hr />
  <div class="flex">
    <div class="about">
      <div class="foto bog"></div>
      <hr />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
    <div class="about">
      <div class="foto hit"></div>
      <hr />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
    <div class="about">
      <div class="foto che"></div>
      <hr />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
    <div class="about">
      <div class="foto est"></div>
      <hr />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
    <div class="about">
      <div class="foto yope"></div>
      <hr />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
  </div>
</div>
