<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="ct" id="t1">
      <div class="ct" id="t2">
        <div class="ct" id="t3">
          <div class="ct" id="t4">
            <div class="ct" id="t5">
              <ul id="menu">
                <a href="#t1"><li id="uno"></li></a>
                <a href="#t2"><li id="dos"></li></a>
                <a href="#t3"><li id="tres"></li></a>
                <a href="#t4"><li id="cuatro"></li></a>
              </ul>
              <div class="page" id="p1">
                <app-login></app-login>
                <!-- </section> -->
              </div>
              <div class="page" id="p2">
                <section class="icon ">
                  <span class="title">¿Que es Vitu?</span>
                  <div class="texto">
                    Vitu es una aplicacion web pensada para dar una nueva vida a
                    tus viejos libros. <br /><br />
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Veniam error, quasi ab corrupti voluptas saepe repellendus
                    illo porro et recusandae exercitationem at voluptate maxime
                    illum quae molestiae dicta odio iste!
                  </div>
                </section>
              </div>
              <div class="page" id="p3">
                <section class="icon fa fa-rocket">
                  <span class="title">¿Como funciona?</span>
                  <div class="texto">
                    <br />
                    Registrate, sube los libros que tengas por casa , busca
                    algun libro que quieras leer y cambiarlo.
                    <br /><br />
                    Asi de simple
                  </div>
                </section>
              </div>
              <div class="page" id="p4">
                <section class="icon fa fa-dribbble">
                  <div class="pabsoluta">
                    <span class="title ">¿Quiénes somos?</span>
                    <hr />
                    <div class="flex">
                      <div class="about">
                        <div class="foto bog"></div>
                        <hr />
                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                      <div class="about">
                        <div class="foto hit"></div>
                        <hr />

                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                      <div class="about">
                        <div class="foto che"></div>
                        <hr />

                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                      <div class="about">
                        <div class="foto est"></div>
                        <hr />

                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                      <div class="about">
                        <div class="foto yope"></div>
                        <hr />

                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
