<!-- <div>
  <div class="slider">
    <ul class="ul">
      <div class="div1">
        <h1>Vitu</h1>
        <h2>Tu web de intercambios</h2>
      </div>
      <div class="div2">
        <h2>Cambia , Comparte , Aprende</h2>
      </div>
      <div class="div3">
        <h2>Deja de amontonar viejos libros y cambialos</h2>
      </div>
      <div class="div4">
        <h2>Disfruta de algo nuevo</h2>
      </div>
    </ul>
  </div>
</div>
<div class="quienes">
  <h3>¿Quiénes somos?</h3>
  <hr />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque nobis ad,
    ullam sed facilis consectetur doloribus dicta vero doloremque ut
    perspiciatis quam minus ab deserunt magnam sint asperiores iure rem. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Eos doloribus iure soluta
    est, eum accusamus perferendis. Provident accusamus, nihil totam laborum
    beatae aliquam molestiae libero aperiam quaerat dolorum repellendus ut!
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque nobis ad,
    ullam sed facilis consectetur doloribus dicta vero doloremque ut
    perspiciatis quam minus ab deserunt magnam sint asperiores iure rem. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Eos doloribus iure soluta
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque nobis ad,
    ullam sed facilis consectetur doloribus dicta vero doloremque ut
    perspiciatis quam minus ab deserunt magnam sint asperiores iure rem. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Eos doloribus iure soluta
    est, eum accusamus perferendis. Provident accusamus, nihil totam laborum
    beatae aliquam molestiae libero aperiam quaerat dolorum repellendus ut!
  </p>
  <hr />
  <div class="flex">
    <div class="about">
      <div class="foto bog"></div>
      <hr />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
    <div class="about">
      <div class="foto hit"></div>
      <hr />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
    <div class="about">
      <div class="foto che"></div>
      <hr />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
    <div class="about">
      <div class="foto est"></div>
      <hr />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
    <div class="about">
      <div class="foto yope"></div>
      <hr />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        aut numquam? Iste debitis repellendus maiores aperiam voluptates, magnam
        tempore exercitationem consequuntur, porro earum eligendi autem quod
        fugit perspiciatis perferendis enim!
      </p>
    </div>
  </div>
</div> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="ct" id="t1">
      <div class="ct" id="t2">
        <div class="ct" id="t3">
          <div class="ct" id="t4">
            <div class="ct" id="t5">
              <ul id="menu">
                <a href="#t1"><li id="uno"></li></a>
                <a href="#t2"><li id="dos"></li></a>
                <a href="#t3"><li id="tres"></li></a>
                <a href="#t4"><li id="cuatro"></li></a>
              </ul>
              <div class="page" id="p1">
                <!-- <section class="icon fa fa-bolt"> -->
                <!-- <span class="title">Bolt</span
                  ><span class="hint"
                    >Like this pen to see the magic!...<br />
                    Just kidding, it won't happen anything but I'll be really
                    happy If you do so.</span
                  > -->
                <app-login></app-login>
                <!-- </section> -->
              </div>
              <div class="page" id="p2">
                <section class="icon ">
                  <span class="title">¿Que es Vitu?</span>
                  <div class="texto">
                    Vitu es una aplicacion web pensada para dar una nueva vida a
                    tus viejos libros. <br /><br />
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Veniam error, quasi ab corrupti voluptas saepe repellendus
                    illo porro et recusandae exercitationem at voluptate maxime
                    illum quae molestiae dicta odio iste!
                  </div>
                </section>
              </div>
              <div class="page" id="p3">
                <section class="icon fa fa-rocket">
                  <span class="title">¿Como funciona?</span>
                  <div class="texto">
                    <br />
                    Registrate, sube los libros que tengas por casa , busca
                    algun libro que quieras leer y cambiarlo.
                    <br /><br />
                    Asi de simple
                  </div>
                </section>
              </div>
              <div class="page" id="p4">
                <section class="icon fa fa-dribbble">
                  <div class="pabsoluta">
                    <span class="title ">¿Quiénes somos?</span>
                    <hr />
                    <div class="flex">
                      <div class="about">
                        <div class="foto bog"></div>
                        <hr />
                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                      <div class="about">
                        <div class="foto hit"></div>
                        <hr />

                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                      <div class="about">
                        <div class="foto che"></div>
                        <hr />

                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                      <div class="about">
                        <div class="foto est"></div>
                        <hr />

                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                      <div class="about">
                        <div class="foto yope"></div>
                        <hr />

                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Doloremque, aut numquam? Iste debitis
                          repellendus maiores aperiam voluptates, magnam tempore
                          exercitationem consequuntur, porro earum eligendi
                          autem quod fugit perspiciatis perferendis enim!
                        </p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
