* {
  font-family: "Baloo Paaji 2", cursive;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.contenedor {
  width: 266px;
  height: 500px;
  margin: 0 auto;
  border-radius: 5px;
}
.solicitudes {
  background-color: #f2f2f2;
}

.solicitud {
  height: 500px;
  background-color: #f2f2f2;
  padding: 20px;
  color: rgb(8, 8, 8);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.foto {
  margin: 0 auto;
  width: 260px;
  height: 360px;
  background-color: rgb(179, 172, 172);
  margin-bottom: 20px;
  border-radius: 5px;
}

.boton {
  cursor: pointer;

  height: 30px;
  border-radius: 5px;
  border: 1px solid #31a6b3;
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  width: 150px;
  transition: 0.5s;
  margin-bottom: 8px;
  padding-top: 2px;

  &:hover {
    background-color: #31a6b3;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.404);
  }
}
.boton2 {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(245, 98, 98);
  width: 150px;
  transition: 0.5s;
  margin: 0 auto;
  padding-top: 2px;
}
.boton2:hover {
  color: white;
  background-color: rgb(245, 98, 98);
  border: 1px solid rgb(241, 241, 241);
}
.boton2:hover p {
  opacity: 0;
  transition: 3s;
}
p {
  margin: 0;
}

.nombreTitular p span {
  cursor: pointer;
  color: blue;
  font-size: 18px;
  font-weight: 500;
}
