<div id="wrapper">
  <nav class="menu">
    <div class="cuadrado">
      <div class="circulo">
        <header class="avatar">
          <img src="" />
        </header>
      </div>
      <h2>Señor Negro</h2>
    </div>
    <ul>
      <li [routerLink]="['/perfil']">
        <span>Editar perfil</span>
      </li>
      <li [routerLink]="['/solicitudes']"><span>Solicitudes </span></li>
      <li [routerLink]="['/misLibros']"><span>Mis libros</span></li>
      <li [routerLink]="['/favoritos']">
        <span>Favoritos</span>
      </li>
    </ul>
    <div class="lib">
      <div id="libro"><span class="subirlibro"></span></div>
    </div>
  </nav>
  <div class="solicitudes">
    <div class="sol">
      <div id="newSol">
        <div class="tu"></div>
        <div class="flex" style="width: 33.4%;">
          <div class="solicitante"></div>
          <div class="aceptar "></div>
          <div class="rechazar"></div>
        </div>
        <div class="el"></div>
      </div>
      <div id="newSol">
        <div class="tu"></div>
        <div class="flex" style="width: 33.4%;">
          <div class="solicitante"></div>
          <div class="aceptar "></div>
          <div class="rechazar"></div>
        </div>
        <div class="el"></div>
      </div>
      <div id="newSol">
        <div class="tu"></div>
        <div class="flex" style="width: 33.4%;">
          <div class="solicitante"></div>
          <div class="aceptar "></div>
          <div class="rechazar"></div>
        </div>
        <div class="el"></div>
      </div>
      <div id="newSol">
        <div class="tu"></div>
        <div class="flex" style="width: 33.4%;">
          <div class="solicitante"></div>
          <div class="aceptar "></div>
          <div class="rechazar"></div>
        </div>
        <div class="el"></div>
      </div>
      <div id="newSol">
        <div class="tu"></div>
        <div class="flex" style="width: 33.4%;">
          <div class="solicitante"></div>
          <div class="aceptar "></div>
          <div class="rechazar"></div>
        </div>
        <div class="el"></div>
      </div>
      <div id="newSol">
        <div class="tu"></div>
        <div class="flex" style="width: 33.4%;">
          <div class="solicitante"></div>
          <div class="aceptar "></div>
          <div class="rechazar"></div>
        </div>
        <div class="el"></div>
      </div>
    </div>
  </div>
</div>
